{
  "expo": {
    "name": "ברחובות שלנו",
    "slug": "ourstreets",
    "version": "1.0.0",
    "orientation": "portrait",
    "icon": "./assets/icon-ios.png",
    "primaryColor": "#FFCB39",
    "splash": {
      "image": "./assets/splash.png",
      "resizeMode": "contain",
      "backgroundColor": "#f4f4f4"
    },
    "updates": {
      "fallbackToCacheTimeout": 0
    },
    "assetBundlePatterns": ["**/*"],
    "ios": {
      "bundleIdentifier": "org.ourstreets.ourstreets",
      "buildNumber": "X",
      "supportsTablet": false,
      "config": {
        "googleMapsApiKey": "XXX"
      },
      "infoPlist": {
        "NSCameraUsageDescription": "Allow access to camera to take photos of hazards",
        "NSPhotoLibraryUsageDescription": "Allow access to photo library to choose photos of hazards",
        "NSLocationWhenInUseUsageDescription": "Allow access to location to attach to the hazard report"
      }
    },
    "android": {
      "package": "org.ourstreets.ourstreets",
      "config": {
        "googleMaps": {
          "apiKey": "XXX"
        }
      },
      "adaptiveIcon": {
        "foregroundImage": "./assets/adaptive-icon.png",
        "backgroundColor": "#f4f4f4"
      }
    },
    "web": {
      "favicon": "./assets/favicon.png"
    }
  }
}
